<launch>
    <node
        name="gazebo_spawn_objects1"
        pkg="gazebo_ros"
        type="spawn_model"
        respawn="false"
        output="screen"
        args="-file '$(find triple_s_util)/meshes/meat_can/model.sdf'
              -sdf
              -model 'Meat Can1'
              -x -0.318699 -y -0.268812 -z 1.14 -R 0.049172 -P 0.116163 -Y 1.669565"
    />
    <node
        name="gazebo_spawn_objects2"
        pkg="gazebo_ros"
        type="spawn_model"
        respawn="false"
        output="screen"
        args="-file '$(find triple_s_util)/meshes/tomato_soup/model.sdf'
              -sdf
              -model 'Tomato Soup1'
              -x -0.402010 -y -0.388354 -z 1.16 "
    />
    <node
        name="gazebo_spawn_objects3"
        pkg="gazebo_ros"
        type="spawn_model"
        respawn="false"
        output="screen"
        args="-file '$(find triple_s_util)/meshes/gelatin_box/model.sdf'
              -sdf
              -model 'Gelatin Box1'
              -x -0.165530 -y -0.227367 -z 1.16"
    />
    <node
        name="gazebo_spawn_objects4"
        pkg="gazebo_ros"
        type="spawn_model"
        respawn="false"
        output="screen"
        args="-file '$(find triple_s_util)/meshes/sugar_box/model.sdf'
              -sdf
              -model 'Sugar Box1'
              -x -0.170578 -y -0.3632201 -z 1.156"
    />
    <node
        name="gazebo_spawn_objects5"
        pkg="gazebo_ros"
        type="spawn_model"
        respawn="false"
        output="screen"
        args="-file '$(find triple_s_util)/meshes/tomato_soup/model.sdf'
              -sdf
              -model 'Tomato Soup2'
              -x -0.355472 -y -0.190565 -z 1.166"
    />
</launch>
